<div class="card m-3" style="width: 18rem;">
  <img src="<%= typeof imgFile != 'undefined' ? imgFile : 'https://source.unsplash.com/300x300' %>" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title"><%= typeof cardName != 'undefined' ? cardName : 'Título Genérico' %></h5>
    <p class="card-text"><%= typeof cardText != 'undefined' ? cardText : 'Lorem ipsum dolor sit amet consectetur, adipisicing elit. Possimus voluptates temporibus atque nostrum rerum distinctio praesentium consequuntur, nam esse laborum, ipsa pariatur quis ipsam. Sint placeat iure debitis sit rerum.' %></p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>

