<%- include('../components/head', {title: 'About'}) %>

  <%- include('../components/header') %>

  <main>
    <section class="d-flex flex-column align-items-center mt-4">
      <h1>Página Sobre</h1>
      <p>Saiba a história da nossa empresa.</p>
    </section>
  </main>
   
  <%- include('../components/footer') %>
