<%- include('../components/head', {title: 'Home'}) %>

  <%- include('../components/header') %>

  <main>
    <section class="d-flex flex-column align-items-center mt-4">
      <h1>Página Home</h1>
      <p>Seja Bem-Vindo!</p>
    </section>
  </main>
   
  <%- include('../components/footer') %>